include header1
include aside
.content-wrapper
    section.content
        .container-fluid
            include sub-header
            //search input
            .col-md-12
                .card.card-success.card-outline
                    .card-header
                        h3.card-title Add Note
                    .card-body.p-2.mt-2
                        .card-tools
                            #tab1
                                .row.form-group
                                    .col-md-6
                                        .form-group.input-group-md
                                            label Party Name
                                            input#party_name.form-control(type = "text", placeholder="Enter Party..." autofocus autocomplete="off")
                                            input#party_id(type="hidden")
                                        #party_name_error(style="color:red")
                                    .col-md-3
                                        .form-group.input-group-md
                                            label Contact
                                            input#contact.form-control(type = "text" placeholder="Contact")
                                        #date_from_error(style="color:red")
                                    .col-md-3
                                        .form-group.input-group-md
                                            label Current Date
                                            input#date_current.form-control(type = "date" placeholder="Current Date")
                                        #date_to_error(style="color:red")
                                .row.form-group
                                    .col-md-12 
                                        .form-group.input-group-md
                                            label Details
                                            textarea#details.form-control(type = "text" placeholder="Enter Details Here...")
                                        #details_error(style="color:red")
                            #tab2
                                #gp_row0.row.form-group
                                    .col-md-2
                                        .form-group.input-group-md
                                            label Cheque No.
                                            input#note_check_no0.form-control(type="text" placeholder="Cheque Number")
                                    .col-md-2
                                        .form-group.input-group-md
                                            label Amount
                                            input#note_check_amount0.form-control(type="number" placeholder="Amount")
                                    .col-md-3
                                        .form-group.input-group-md
                                            label Bank Name
                                            input#note_bank_name0.form-control(type="text" placeholder="Bank Name")
                                    .col-md-3
                                        .form-group.input-group-md
                                            label Cheque Clear Date
                                            input#note_clear_date0.form-control(type="date" placeholder="Cheque Clear Date")
                                    .col-md-2
                                        .form-group.input-group-md
                                            label Status
                                            select#note_status0.form-control
                                                option(value="Pending") Pending 
                                                option(value="Paid") Paid 
                                .row
                                    .col-md-12 
                                        hr
                            #addMore
                                .row.form-group 
                                    .col-md-12
                                        button.btn.btn-success(onclick="add_gp_row()") Add New
                                            span.fa.fa-plus-circle.mt-1(style="float:left") &nbsp;
                                        button.btn.btn-warning.ml-2(onclick="remove_last_gp_row()" style="color:black") Remove Last
                                            i.fa.fa-minus.mt-1(style="float:left") &nbsp;
                        .col-md-12
                            #submitButtons
                                .row.form-group
                                    button#btn2.col-md-12.btn.btn-success(onclick="submitForm()") Submit
include footer
script(src="/js/notes.js")